/* ********************* */
/* CHECKERED PATTERN ONE */
/* ********************* */

.checkers {
  width: 1200px;
  margin: 40px auto;
}

.box-item {
  background-color: #000;
  padding: 5px;
  width: 145px;
  height: 145px;
  display: inline-block;
}

.box-item:nth-child(-2n + 8),
.box-item:nth-child(8) ~ div:nth-child(-2n + 15),
.box-item:nth-child(17) ~ div:nth-child(-2n + 24),
.box-item:nth-child(24) ~ div:nth-child(-2n + 31),
.box-item:nth-child(33) ~ div:nth-child(-2n + 40),
.box-item:nth-child(40) ~ div:nth-child(-2n + 47),
.box-item:nth-child(49) ~ div:nth-child(-2n + 56),
.box-item:nth-child(56) ~ div:nth-child(-2n + 63) {
  background-color: red;
}

/* ********************* */
/* CHECKERED PATTERN TWO */
/* ********************* */

.checkers2 {
  width: 1200px;
  margin: 40px auto;

  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  justify-content: center;
}

.box-item2 {
  background-color: #000;
  padding: 5px;
}

.box-item2:nth-child(-2n + 8),
.box-item2:nth-child(8) ~ div:nth-child(-2n + 15),
.box-item2:nth-child(17) ~ div:nth-child(-2n + 24),
.box-item2:nth-child(24) ~ div:nth-child(-2n + 31),
.box-item2:nth-child(33) ~ div:nth-child(-2n + 40),
.box-item2:nth-child(40) ~ div:nth-child(-2n + 47),
.box-item2:nth-child(49) ~ div:nth-child(-2n + 56),
.box-item2:nth-child(56) ~ div:nth-child(-2n + 63) {
  background-color: red;
}
