* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
P {
  text-align: center;
  text-transform: uppercase;
  margin: 40px;
}
P {
  font-size: 25px;
}

.grid-container {
  margin: 60px auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  background-color: red;
}
